.directory-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  position: fixed;
  top: 50px;
  right: 0;

  width: 340px;
  height: calc(100% - 50px);
  padding: 20px;
  border-left: 1px dotted #40a9ff;
}

.directory-box .plice {
  margin-top: auto;
}