.side-info-article {
  height: calc(100% - 360px);
  margin-top: 30px;
  padding: 10px;
}

.side-info-article-list {
  height: calc(100% - 44px);
  overflow-y: auto;
}

.side-info-article-item {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding-left: 20px;
  color: inherit;
}