.side-info-user {
  margin-top: 60px;
  height: 270px;
}

.side-info-avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.side-info-name {
  font-size: 18px;
  color: #000;
  text-align: center;
}

.side-info-data {
  display: flex;
  justify-content: space-between;

  padding: 0 30px;

  font-size: 16px;
  margin-top: 30px;
}

.side-info-record {
  margin-left: 12px;
}