.add-article-box {
  width: 100%;
  height: 100%;
  padding-top: 80px;
}

.add-article-title {
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
.add-article-title input {
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  font-size: 24px;
}

.add-article-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 110px);
  margin-top: 30px;
}

.add-article-left,
.add-article-right {
  width: calc(50% - 15px);
  height: 100%;
}
.add-article-left {
  padding-left: 30px;
}
.add-article-right {
  padding-right: 30px;
}

.add-article-textarea,
.add-article-markdown {
  resize: none;
  width: 100%;
  height: 100% !important;
  min-height: unset;
  border: 1px solid #e5e6e7;
  border-radius: 4px;
  overflow-y: auto;
  font-size: 20px;
  padding: 4px 11px;
}

/* 调整highlight样式 */
.add-article-markdown h1,
.add-article-markdown h2,
.add-article-markdown h3,
.add-article-markdown h4,
.add-article-markdown h5,
.add-article-markdown h6 {
  font-weight: 700;
}
.add-article-right pre {
  background-color: #000;
  padding: 10px;
  border-radius: 4px;
}
.add-article-right .language-jsx,
.add-article-right .language-js {
  color: #eee;
}
.add-article-right .hljs-keyword {
  color: #24afe6;
}
.add-article-right .hljs-tag,
.add-article-right .hljs-name,
.add-article-right .hljs-attribute {
  color: #f881b8;
}